body{
  width: 100%;
  height: 100%;
    background-color: #E5E5E5;
	background-size: 1600px 1100px;
	font-family:'Lucida Sans',  sans-serif; 
}
nav{
	display:inline-block;
	position: absolute;
    width: 100%;
    max-width: 1200px;
    height: 89px;
    left: 0px;
    top: 0px;
}
.pic{
	width:60px;
	height:30px;
	float:left;
	margin-top:15px;
	margin-left:15px
}
.block1{
    position: absolute;
    display: inline;
    width:100%;
    max-width: 1200px;
    height: 69px;
    background-color: #5e5a5a;
}
.block3{
    position: relative;
    margin-top: 69px;
}
table{
    width: 100%;
    font-size:15px;
    text-align:center;
    transition: 0.3s all linear;
    border-collapse: collapse;
}
td{
    border: 1px solid black;
}
a{
    text-decoration-line: none;
    color: black;
}
input[type="search"]{
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 50px;
    font-family:"Century Gothic", Helvetica;
    margin-top: 20px;
    margin-left: 20px;
    transition: .3s linear;
}
input:focus {
    width: 300px;
    border: none;
}
.block2{
    float: right;
    margin-top: 10px;
}
.button{
    position: relative;
    max-width: 60px;
    height: 30px;
    border: none;
    border-radius: 50px;
    background-color: chartreuse;
    font-family:"Century Gothic", Helvetica;
}
.pic1{
    margin-top: -40px;
    border-radius: 100%;
    width: 75px;
    height: 70px;
    margin-left: 5px;
}
.h22{
    margin-left: 85px;
}
.p1{
    margin-top: -40px;
    margin-left: 85px;
}
a.knopka{
    text-decoration: none;
    margin-left: 80px;
    border: none;
    border-radius: 50px;
    background-color: rgb(135, 135, 221);
}
a.knopka:hover { background: rgb(170, 183, 240); } 
a.knopka:active { background: rgb(141, 119, 219); }
.text1{
    float: right;
    margin-top: -65px;
    background-color: rgb(245, 240, 240);
    width: 100px;
    height: 30px;
    border-radius: 40px 0px 0px 40px;
}
.text11{
    float: right;
    margin-top: -65px;
    background-color: rgb(155, 218, 160);
    color: rgb(15, 107, 20);
    width: 100px;
    height: 30px;
    border-radius: 40px 0px 0px 40px;
}
.p2{
    margin-top: 5px;
    margin-left: 5px;
}
a.knopka1{
    text-decoration: none;
    margin-left: 40px;
    padding: .4em 1.5em;
    border: none;
    border-radius: 50px;
    background-color: rgb(43, 122, 43);
    overflow: visible;
}
a.knopka1:hover { background: rgb(70, 134, 51); } 
a.knopka1:active { background: rgb(88, 211, 104); }
dd{
    margin-bottom:200px ;
}
.kk{
    margin-top: 30px;
    position: relative;
    display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.h2{
    position: absolute;
    width: 10.4%;
    max-width: 125px;
    height: 3.6%;
    max-height: 44px;
    left: 21.67%;
    top: 127px;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: #000000;
}
.block4 {
    margin-top: 16px;
    position: relative;
    width: 56.7%;
    max-width: 681px;
    left: 21.6%;
    right: 21.58%;
    top: 176px;
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    border-radius: 8px;
    overflow: hidden;
    }
  .block4 input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  .block4 label {
    position: absolute;
    cursor: pointer;
    top: 60%;
    left: 90%;
  }
  .p3 {
    max-height: 0;
    margin-top: 10px;
    overflow: hidden;
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    font-size: 12px;
    transition: max-height .35s;
    display: flex;
  }
  .block4 input:checked ~ .p3 {
    max-height: 638px;
  }
  .block4 label::after {
    transition: all .35s;
    position: absolute;
    top:80%;
  }
  .block4 input[type=checkbox] + label::after {
    content: url(кнопка.jpg);
  }
 
  .block4 input[type=radio]:checked + label::after {
    transform: rotateX(180deg);
  }
  .knopka11{
      position: relative;
      width: 300px;
      height: 60px;
  }
  .spisok{
      position: relative;
      width: 70%;
  }
  .spisok2{
    position: relative;
    width: 10%;
    min-width: 100px;
}
.a{
    list-style-type: none;
    line-height: 20px;
    border-left:black;
    color: black;
    margin-bottom: 5em;
}

